body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.country{
    text-decoration: none !important;
    color: black !important;
}

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css'

